@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*@font-face {*/
/*  font-family: 'zhaomengfuKaishu';*/
/*  src: url('/fonts/zhaomengfu.ttf');*/
/*  !* 可选：可以添加其他字体格式以支持不同的浏览器 *!*/
/*  !* src: url('/fonts/your-font-file.woff') format('woff'), *!*/
/*  !* src: url('/fonts/your-font-file.eot') format('embedded-opentype'), *!*/
/*  !* src: url('/fonts/your-font-file.svg#your-font-file') format('svg'); *!*/
/*}*/

/*body {*/
/*  font-family: 'zhaomengfuKaishu', sans-serif;*/
/*}*/